body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fcfcf2;
    display: flex;
}

/*estilizando as imagens*/
#acesa {
    display: none;
}

#apagada {
    display: block;
}

#quebrada {
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.linkMenu {
    width: 10%;
    text-decoration: none;
    color: #ffff00;
}

.linkMenu:hover {
    color: #f1f1c2;
    transition: 0.5s;
}

.imagem {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*cor da seleção*/
::selection {
    background-color: #000;
    color: #ffff00;
}

/*cor da seleção para o FireFox*/
::-moz-selection {
    background-color: #000;
    color: #ffff00;
}

.botoes {
    display: flex;
    flex-direction: column;
    /* pad: -moz-element(200p); */
}

header {
    width: 100%;
    height: 5vh;
    background-color: #808080;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

footer {
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: #808080;
}